* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

img {
  display: block;
  width: 100%;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: 600;
}

.manager .topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  background-color: #fff;
  height: 60px;
}
.manager .topbar .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
}
.manager .topbar .logo .logo-img {
  width: 150px;
}
.manager .topbar .logo .nameapp p {
  margin: 0;
  font-weight: 700;
}
.manager .topbar .search {
  position: relative;
  width: 40%;
  height: 30px;
}
.manager .topbar .search i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}
.manager .topbar .search input {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 20px;
  height: 30px;
}
.manager .topbar .notification .bell-icon {
  position: relative;
}
.manager .topbar .notification .bell-icon i {
  color: rgb(246, 246, 12);
  font-size: 20px;
}
.manager .topbar .notification .bell-icon .number-notification {
  position: absolute;
  top: -10px;
  right: -15px;
}
.manager .topbar .notification .bell-icon .number-notification p {
  color: black;
  font-size: 12px;
  padding: 2px 3px;
  border-radius: 20px;
}
.manager .topbar .user {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
}
.manager .topbar .user p {
  margin-bottom: 0;
  margin-left: 30px;
}
.manager .topbar .user img {
  width: 50px;
  border-radius: 50%;
}
.manager .body-manager {
  display: flex;
}
.manager .body-manager .link {
  font-weight: 700;
}
.manager .body-manager .manager-right {
  width: 80%;
  padding: 70px;
}
.manager .body-manager .manager-right .dash-num {
  margin-top: 20px;
}
.manager .body-manager .manager-right .dash-num .dash-num-item-left {
  width: 50%;
}
.manager .body-manager .manager-right .dash-num .dash-num-item-left h3 {
  font-size: 50px;
}
.manager .body-manager .manager-right .dash-num .dash-num-item-left p {
  font-size: 12px;
}
.manager .body-manager .manager-right .dash-num .dash-num-item-icon i {
  font-size: 50px;
}
.manager .body-manager .manager-right .dash-num .dash-num-item {
  color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  box-shadow: rgba(0, 0, 0, 0.47) 0px 5px 15px 0px;
}
.manager .body-manager .manager-right .dash-num .dash-num-item:first-child {
  background-color: rgb(231, 38, 38);
}
.manager .body-manager .manager-right .dash-num .dash-num-item:nth-child(2) {
  background-color: green;
}
.manager .body-manager .manager-right .dash-num .dash-num-item:nth-child(3) {
  background-color: rgb(245, 175, 23);
}
.manager .body-manager .manager-right .dash-num .dash-num-item:last-child {
  background-color: #183135;
}
.manager .body-manager .manager-right .char {
  margin: 40px 0;
  background-color: #f5f5f5;
  height: 500px;
}
.manager .body-manager .manager-left {
  padding: 20px 0;
  width: 20%;
  background-color: #4334aa;
}
.manager .body-manager .manager-left .manager-left-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  margin-bottom: 40px;
}
.manager .body-manager .manager-left .list-option ul li {
  margin-bottom: 20px;
  background-color: #4334aa;
  width: 100%;
  height: 70px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.manager .body-manager .manager-left .list-option ul li:hover {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: white;
  transition: 0.5s;
}

.manager .body-manager .manager-left .list-option ul li:hover span {
  color: #1f1f6a;
}

.manager .body-manager .manager-left .list-option ul li i {
  margin-right: 20px;
  color: #fff;
}

.manager .body-manager .manager-left .list-option ul li:hover i {
  color: #1f1f6a;
}

.manager .body-manager .manager-left .list-option ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: left;
  color: white;
  width: 100%;
  text-align: left;
}
.manager .body-manager .manager-left .list-option ul li a .icon {
  margin-right: 10px;
}
.manager .body-manager .manager-left .list-option ul li a span {
  color: white;
}
.manager .body-manager .manager-left .list-option ul li .nav-link.active {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #f5f5f5;
  padding: 20px;
}
.manager .body-manager .manager-left .list-option ul li .nav-link.active span {
  color: black;
}
.manager th {
  background-color: #4334aa;
  color: #fff;
}
.manager td {
  text-align: center;
  background-color: #f5f5f5;
}
.manager td i {
  font-size: 25px;
  width: 100%;
  margin: 0 auto;
}
.manager th {
  text-align: center;
}
.manager .icon-detail {
  width: 100%;
  margin: auto;
}
.manager .icon-detail:hover {
  color: orange;
}

.footer-manager {
  background-color: #ffffff;
  padding: 30px 10px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: left;
}
.footer-manager p {
  margin: 0;
  font-weight: 600;
}
.login {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin: 0 5px;
  justify-content: flex-end;
}

.user {
  display: flex;
  align-items: center;
  width: auto;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
  order: 2; /* Đặt .user ở cuối */
}
.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.user-name {
  font-weight: 700;
  margin-right: 10px;
  margin-bottom: 0rem;
  display: flex;
  align-items: center;
  order: 2; /* Change the order of .user-name */
}

.logout {
  display: flex;
  align-items: center;
  background-color: #4334aa;
  font-size: inherit;
  margin-left: 10px;
  order: 2; /* Đặt .logout sau .user-name */
}
  
.logout:hover {
  transition: 0.5s;
}
.manager .topbar .select-branch {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 10px;
  margin-left: 20px;
  background-color: aliceblue;
}
.CoSobutton {
  /* background-color: rgb(62, 175, 62); */
  padding: 10px 20px;
  border-radius: 5px;
  width: 140px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.select-month{
  /* background-color: rgb(62, 175, 62); */
  padding: 10px 20px;
  border-radius: 5px;
  width: 130px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: inline-block; /* Hoặc bất kỳ định dạng khác phù hợp */
  margin-left: 5px; /* Thêm khoảng cách giữa .CoSobutton và .select-month */
}

.status {
  display: flex;

  border-radius: 4px;
  justify-content: center;
  padding: 10px 0;
  margin: 10px 0 30px 0;
  width: 60%;
  justify-content: space-between;
}
.status a:hover{
  color: #1f1f6a;
}

.status .nav-link  {
  padding: 0 30px;
  position: relative;
  color: rgb(52, 58, 64);
  /* background-color: darkgreen; */
  font-weight: 700;
  padding: 10px ;
 
  border-radius: 10px;
}

.status .nav-link:hover,
.status .nav-link.active {
  color: blue;
  text-decoration: none;
  /* background-color: #4334aa; */
}

.status .nav-link::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 3px;
  background-color: #4334aa;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.status .nav-link:hover::before {
  width: 100%;

}
.btn-select select{
 
    word-wrap: normal;
    height: 40px;
    width: 200px;
    background-color: #f5f5f5;
    margin-right: 10px;
    border: 1px solid black;
    padding-left: 5px;
    border-radius: 10px;

}
.logout{
  background-color: red;
  border-radius: 10px;
  padding: 10px 0;
  color: white;
  display: flex;
  justify-content: center;
}
.logout:hover{
  background-color: green;
  text-decoration: none;
  color: white;
}
.icon{
  margin-right: 15px;
}