// lịch sử đặt hàng
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}
@mixin displayFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header {
    @include displayFlex();
    height: 60px;
    background-color: #1f1f6a;
    padding: 10px 40px;
    color: white;
    .title {
        h1 {
            font-size: 20px;
        }
    }

    .returnHome {
        .icon {
            i {
                margin-right: 20px;
            }
            &:hover {
                color: chocolate;
            }
        }
        .backHome,
        .searchYard {
            width: 40%;
        }
    }
    .searchYard {
        @include displayFlex();
        input {
            position: absolute;
            right: -300px;
            opacity: 0;
            transition: opacity 0.3s ease;
            padding: 5px 10px;
            color: black;
            border-radius: 20px;
            width: 300px;
        }
        i {
            font-size: 20px;
            margin-left: 20px;
            cursor: pointer;
            border: 2px solid white;
            padding: 10px;
            border-radius: 50%;
            &:hover {
                background-color: white;
                color: #1f1f6a;
            }
        }
    }
    .searchYard input.show {
        animation: slideIn 0.5s forwards;
    }
    @keyframes slideIn {
        from {
            right: -300px;
            opacity: 0;
        }
        to {
            right: 100px;
            opacity: 1;
        }
    }
}

.status {
    background-color: rgb(188, 188, 247);
    text-align: center;
    padding: 10px 0;

    a {
        padding: 0 30px;
        position: relative;

        &:hover {
            color: #fb811e;
        }
        &::before {
            position: absolute;
            content: "";
            width: 0%;
            height: 3px;
            background-color: #fb811e;
            left: 0;
            bottom: -10px;
            transition: 0.5s;
        }
        &:hover::before {
            width: 100%;
        }
    }
}

.list-yard {
    margin: 40px;
    .yard {
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 40px;
        background-color: rgba(128, 128, 128, 0.038);
        .yard-info {
            padding: 10px;
            @include displayFlex();
            justify-content: left;
            h3 {
                color: green;
                font-weight: 600;
                font-size: 25px;
            }
            .yard-content {
                margin-left: 20px;
                textarea {
                    width: 100%;
                    height: 100px;
                    border: 1px solid black;
                    padding: 10px;
                }
                span {
                    font-weight: 700;
                    color: #fb811e;
                }
            }
        }
    }
}
// detail .order

.detail-order {
    form {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
            font-size: 30px;
        }
        a {
            text-decoration: none;
            font-weight: 700;
        }
        button {
            margin: 0 auto;
        }
    }
    .user-acc img {
        border-radius: 50%;
        width: 90px;
        margin-right: 20px;
    }
    .m-auto {
        padding-top: 200px;
    }
}

// footer
/* footer------------------------------------------------------- */
.footer {
    padding: 40px;
    background-color: #272626e7;
    color: white;
}
.dinner img {
    width: 250px;
    height: 100px;
    margin: 0 auto;
}
.footer h2 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
}
.footer p,
.footer a {
    font-size: 17px;
    color: rgb(205, 197, 197);
}
.footer a:hover {
    color: #f76401;
    transition: 0.5s;
}
.dinner .social-media i {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 10px;
    color: #f76401;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.dinner .social-media i:hover {
    background-color: #f76401;
    color: white;
    transition: 0.5s;
}
.dinner .social-media i.hover:hover {
    background-color: #f76401 !important;
    color: white;
    transition: 0.5s;
}

.social-media {
    display: flex;
}
.contact input,
.contact button {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border-radius: 10px;
}
.contact button {
    background-color: #f76401;
    color: white;
    font-weight: 600;
    margin-top: 10px;
}
.footer span {
    color: #f76401;
    font-weight: 700;
}
