<!DOCTYPE html>
<html>
<!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" /> -->
    <link rel="stylesheet" type="text/css" href="./css/common.css" />
    <!-- <link rel="stylesheet" type="text/css" href="./css/fonts.css" /> -->
    <link rel="stylesheet" type="text/css" href="../css/BookingDetailV3.css" />
    <link rel="javascript" type="text/javascript" href="../js/bookingjs.js" />
    <!-- <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/sticky-js@1.3.0/dist/sticky.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script> -->



</head>

<body class="flex-column">
    <main class="booking-detail-v3 main">
        <section class="section1">
            <div class="content_box9" style="--src:url(../assets/92e89fe549eba7071176e8846fb63d27.svg)">
                <!-- <div class="flex_row">
                    <div class="flex_col">
                        <h2 class="medium_title">Site name</h2>
                        <div class="flex_row1">
                            <img class="image" src="./assets/18a34f82caa010d51e8a34d18532497c.svg" alt="alt text" /><img class="image" src="./assets/7deb9b465b8daa23b4224d9f151d39c8.svg" alt="alt text" /><img class="image" src="./assets/7ce5d7aaaf5b6c66bcea0e3da266ef5e.svg" alt="alt text" /><img class="image" src="./assets/e1f7dae10d9e9c53fef185460a65b667.svg" alt="alt text" />
                        </div>
                    </div>
                    <div class="flex_row2">
                        <div class="flex_col1">
                            <h5 class="highlight">Topic</h5>
                            <h5 class="highlight1">Page</h5>
                            <h5 class="highlight1">Page</h5>
                            <h5 class="highlight1">Page</h5>
                        </div>
                        <div class="flex_col1">
                            <h5 class="highlight">Topic</h5>
                            <h5 class="highlight1">Page</h5>
                            <h5 class="highlight1">Page</h5>
                            <h5 class="highlight1">Page</h5>
                        </div>
                        <div class="flex_col1">
                            <h5 class="highlight">Topic</h5>
                            <h5 class="highlight1">Page</h5>
                            <h5 class="highlight1">Page</h5>
                            <h5 class="highlight1">Page</h5>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="flex_col2">
                <div class="flex_col3">
                    <!-- <div class="content_box10" style="--src:url(../assets/38ea7ea1e74a8d88a46954959cbf3178.svg)">
                        <div class="flex_row3">
                            <h3 class="subtitle">Site name</h3>
                            <div class="flex_row4">
                                <div class="flex_row5">
                                    <h3 class="subtitle1">Page</h3>
                                    <h3 class="subtitle1">Page</h3>
                                    <h3 class="subtitle1">Page</h3>
                                </div>
                                <button class="btn">Button</button>
                            </div>
                        </div>
                    </div> -->
                    <hr class="line" size="1" />
                    <div class="flex_col4">
                        <div class="flex_col5">
                            <div class="flex_col6">
                                <h1 class="hero_title">Chi tiết đơn đặt sân</h1>
                                <div class="flex_col7">
                                    <div class="flex_col8">
                                        <hr class="line1" size="1" />
                                        <div class="grid">
                                            <div class="item">
                                                <div class="flex_row6">
                                                    <div class="flex_col9">
                                                        <h5 class="highlight2">Mã Hóa Đơn</h5>
                                                        <div class="content_box">
                                                            <h5 class="highlight5">AB123</h5>
                                                        </div>
                                                    </div>
                                                    <div class="flex_col10">
                                                        <h5 class="highlight2">Mã Khách Hàng</h5>
                                                        <div class="content_box1">
                                                            <h5 class="highlight51">1</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flex_row7">
                                                    <div class="flex_col11">
                                                        <h5 class="highlight2">Ngày Đặt Lịch</h5>
                                                        <div class="content_box1">
                                                            <h5 class="highlight52">30-05-2024</h5>
                                                        </div>
                                                    </div>
                                                    <div class="flex_col11">
                                                        <h5 class="highlight2">Loại Lịch</h5>
                                                        <div class="content_box1">
                                                            <h5 class="highlight53">Lịch Lẻ/ Lịch cố định/ ...</h5>
                                                        </div>
                                                    </div>
                                                    <div class="flex_col11">
                                                        <h5 class="highlight2">Sân</h5>
                                                        <div class="content_box1">
                                                            <h5 class="highlight54">Số sân</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flex_row8">
                                                    <div class="flex_col12">
                                                        <h5 class="highlight2">Slot</h5>
                                                        <div class="content_box1">
                                                            <h5 class="highlight55 w-100">7:00 - 8:00</h5>
                                                        </div>
                                                    </div>
                                                    <div class="flex_col13">
                                                        <h5 class="highlight2">Thời gian bắt đầu</h5>
                                                        <div class="content_box1">
                                                            <h5 class="highlight56">7:00</h5>
                                                        </div>
                                                    </div>
                                                    <div class="flex_col12">
                                                        <h5 class="highlight2">Thời gian kêt thúc</h5>
                                                        <div class="content_box1">
                                                            <h5 class="highlight56">8:00</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flex_col14">
                                                    <h5 class="highlight2">Giá Slot</h5>
                                                    <div class="content_box1">
                                                        <h5 class="highlight57">150.000/slot</h5>
                                                    </div>
                                                </div>
                                                <div class="flex_row9">
                                                    </form>
                                                    <div class="flex_row10">
                                                        <img class="image2"
                                                            src="../assets/b97f32c6e898440af6a34e638833a96b.svg"
                                                            alt="alt text" />
                                                        <h5 class="highlight58">Phương thức thanh toán</h5>
                                                    </div>
                                                    <div class="flex_row11">
                                                        <input type="radio" id="option1" name="option" checked><label for="option1"><img class="image3"
                                                            src="../assets/a625b4b74e1ec04dbfe71d91c9789e29.svg"
                                                            alt="alt text" /></label>
                                                    </div>
                                                    <div class="flex_row11">
                                                        <input type="radio" id="option2" name="option"><label for="option2"><img class="image1"
                                                            src="../assets/a0becb48b876c3c542a76b1eb6d1b928.svg"
                                                            alt="alt text" /></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item1">
                                                <h2 class="medium_title1">Thanh toán: 150.000</h2>
                                                <h2 class="medium_title1">Giảm giá: 10%</h2>
                                                <h1 class="big_title">Tổng thanh toán: 135.000</h1>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="line1" size="1" />
                                </div>
                            </div>
                            <div class="flex_row12"><button class="btn1">Hủy</button><button class="btn2">Thanh
                                    toán</button></div>
                        </div>
                        <button type="button" class="btn3">Về trang chủ</button>
                    </div>
                </div>
                <hr class="line" size="1" />
            </div>
        </section>
    </main>
    <!-- <script type="text/javascript">
        AOS.init();
        new Sticky('.sticky-effect');
    </script> -->

</body>

</html>