<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Thông tin của bạn</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="../css/updateProfile.css" />
    </head>
    <style>
        form {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        a {
            text-decoration: none;
            font-weight: 700;
        }
        button {
            margin: 0 auto;
        }
        .user-acc img {
            border-radius: 50%;
            width: 90px;
            margin-right: 20px;
        }
        h1 {
            font-size: 25px;
        }
        .left iframe {
            width: 100%;
            height: 500px;
        }
        .right {
            margin-left: 40px;
            width: 49%;
        }
    </style>

    <form action="" class="w-75 m-auto">
        <div class="form-regis d-flex justify-content-center align-items-center">
            <div class="left w-50">
                <h1 class="text-center">MẪU TIN ĐĂNG KÍ THÔNG TIN ĐỐI TÁC</h1>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15681.216242755121!2d106.73752714999999!3d10.711014350000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1715962175967!5m2!1sen!2s"
                    style="border: 0"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
                ></iframe>
                <div class="d-flex justify-content-between w-100">
                    <button class="btn btn-success mt-3">Gửi đơn</button>
                </div>
                <a href="HomePage.html">Về trang chủ</a>
            </div>

            <div class="right">
                <div class="mb-3">
                    <label for="" class="form-label">Họ và Tên</label>
                    <input type="text" class="form-control" id="pass" placeholder="Nhập hoh và tên" value="ushio" />
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="" value="Ushio@gmail.com" />
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Số điện thoại</label>
                    <input type="number" class="form-control" id="phone" placeholder="Nhập SĐT" value="123344523" />
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Khu vực</label>
                    <input type="text" class="form-control" id="location" placeholder="Nhập Quận/Thành phố" value="Thành phố Thủ Đức" />
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Hình ảnh</label>
                    <input type="image" class="form-control" id="img" placeholder="Ảnh" value="Ảnh" />
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Tên sân</label>
                    <input type="text" class="form-control" id="nameYard" placeholder="Nhập tên sân" value="sân cầu lông ABC" />
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Giá/Slot</label>
                    <input type="text" class="form-control" id="price" placeholder="Giá" value="50.000-75.000đ" />
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Giờ hoạt động</label>
                    <input type="text" class="form-control" id="time" placeholder="" value="7:00-23:00" />
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Hình ảnh</label>
                    <input type="image" class="form-control" id="phone" placeholder="Ảnh" value="Ảnh" />
                </div>

                <!-- <a href="">Xem lịch sử đặt sân</a>
                <button class="btn btn-primary w-25">Lưu thay đổi</button>
                <a href="HomePage.html" class="text-center text-danger m-2">Trở về trang chủ</a> -->
            </div>
        </div>
    </form>
    <body>
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
